@import "../../../styles/_mixins.scss";

.description {
    text-align: center;
    font-family: $font-quicksand;
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0;
    font-weight: $medium;
    color: $black-800;
    max-width: 700px;
    @media (min-width: $tablet) {
        font-size: 1rem;
        line-height: 2rem;
    }
    @media (min-width: $desktop) {
        max-width: 900px;
    }
}