@import "../../../styles/_mixins.scss";

.subtitleTag {
    display: inline-block;
    background-color: $primary-200;
    border-radius: 4px 0px 4px 0px;
    .subtitle {
        padding: 0.25rem 0.625rem;
        margin: 0;
        color: $primary-950;
        font-family: $font-quicksand;
        font-weight: $bold;
        font-size: .875rem;
        text-transform: uppercase;
        letter-spacing: .03rem;
        @media (min-width: $desktop) {
            font-size: 1rem;
        }
    }
}