@import "../../../styles/_mixins.scss";

@import "../../../styles/_mixins.scss";

.doctorMenu {
    flex-grow: 2;
    display: block;
    .countResults {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .doctorsFound {
            font-family: $font-montserrat;
            font-size: 0.875rem;
            font-weight: $semiBold;
            @media (min-width: $desktop) {
                font-size: 0.875rem;
            }
        }
        .dropdown {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            label {
                display: none;
                @media (min-width: $tablet) {
                    display: block;
                    font-family: $font-montserrat;
                    font-size: 0.875rem;
                    font-weight: $medium;
                    color: $black-500;
                }
            }
            select {
                border: 1px solid #D9D9D9;
                border-radius: 6px;
                padding: 0.375rem;
                outline: none;
                text-decoration: none;
                font-family: $font-montserrat;
                font-size: 0.875rem;
                font-weight: $medium;
                color: $black-950;
            }
        }
    }
    .doctorList {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        &:empty {
            display: none;
        }
        .noResults {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
            border: 1px solid rgba(15, 23, 42, 0.1);
            border-radius: 0.5rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            h2 {
                margin: 0;
                font-size: 1rem;
                font-family: $font-quicksand;
                font-weight: $bold;
                color: $black-950;
            }
            p {
                text-align: center;
                font-size: 0.875rem;
                font-family: $font-quicksand;
                font-weight: $medium;
                color: $black-800;
                line-height: 1.5rem;
                max-width: 350px;
            }
            @media (min-width: $tablet) {
                padding: 2.5rem;
            }
            @media (min-width: $desktop) {
                padding: 4rem;
            }
        }
    }
}